<div id="hbh-extension-frontend-root">
  {% liquid
    render 'vite-tag' with 'theme.css', preload_stylesheet: true
    render 'vite-tag' with 'theme.tsx'
  %}
</div>

<script>
  window.product = {
    products: {{ block.settings.selected_products | json }}
  };

  window.shop =  {{ request.origin | json }}
  window.routes =  {{ routes | json }}


  window.customer = {
    user : {
      first_name: {{ customer.first_name | json }},
      last_name: {{ customer.last_name | json }},
      email: {{ customer.email | json }},
      phone: {{ customer.phone | json }}
    }
  };
</script>

{% schema %}
{
  "name": "consultation-section",
  "target": "section",
  "settings": [
    {
      "type": "product_list",
      "id": "selected_products",
      "label": "Select Products",
      "limit": 2
    }
  ]
}
{% endschema %}
